*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',  sans-serif;
}

html{
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    display: none;
}

html{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}